version: '3.9'

services:
  api-service:
    container_name: api-container
    image: api-image-sample
    ports:
      - "8081:8081"
    networks:
      - backend
networks:
  backend:
    driver: bridge